<header class="header container">
  <!-- header navigation -->
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    role="navigation"
    aria-label="Main navigation"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler me-auto order-1"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse order-3 order-lg-1" id="navbarMenu">
        <ul class="nav nav-letter">
          @for(nav of listNav;track nav){
          <li class="nav-item">
            <a
              routerLink="nav.href"
              role="menuitem"
              title="{{ nav?.title ?? nav.label}}"
              >{{ nav.label }}</a
            >
          </li>
          }

          <!-- <li class="nav-item">
            <a
              href="#case-studies"
              role="menuitem"
              title="Go to Case Studies Section"
              >Case Studies</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#testimonials"
              role="menuitem"
              title="Go to Testimonials Section"
              >Testimonials</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#recent-work"
              role="menuitem"
              title="Go to Recent Work Section"
              >Recent work</a
            >
          </li>
          <li class="nav-item">
            <a
              href="#get-in-touch"
              role="menuitem"
              title="Go to Get In Touch Section"
              >Get In Touch</a
            >
          </li> -->
        </ul>
      </div>
      <!-- icon -->
      <ul class="nav icon-social order-2">
        <li class="nav-item icon">
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            aria-label="LinkedIn"
            title="LinkedIn Profile"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li class="nav-item icon">
          <a
            href="https://www.behance.net/"
            target="_blank"
            aria-label="Behance"
            title="Behance Profile"
          >
            <i class="fa-brands fa-behance"></i>
          </a>
        </li>
        <li class="nav-item icon">
          <a
            href="https://twitter.com/"
            target="_blank"
            aria-label="Twitter"
            title="Twitter Profile"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
