<section
  id="get-in-touch"
  class="get-in-touch d-flex justify-content-center align-items-center"
>
  <div class="container text-center">
    <h1 class="text-white">Get in touch</h1>
    <p class="mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <!-- form -->
    <form class="mx-auto">
      <div class="form-group">
        <label
          for="email"
          class="form-label fw-semibold text-start d-block mb-2"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Please enter your email"
          required
        />
      </div>

      <div class="form-group">
        <label
          for="mobile"
          class="form-label fw-semibold text-start d-block mb-2"
          >Mobile</label
        >
        <input
          type="tel"
          id="mobile"
          name="mobile"
          class="form-control"
          placeholder="Enter mobile"
          required
        />
      </div>

      <div class="form-group">
        <label
          for="message"
          class="form-label fw-semibold text-start d-block mb-2"
          >Message</label
        >
        <textarea
          id="message"
          name="message"
          class="form-control"
          rows="5"
          placeholder="Enter your message"
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-submit text-white">
        Submit &gt;
      </button>
    </form>
  </div>
</section>
