<section
  id="get-in-touch"
  class="get-in-touch d-flex justify-content-center align-items-center"
>
  <div class="container text-center">
    <header-flex
      title="{{ heading.title }}"
      content="{{ heading.content }}"
      [titleColor]="heading.titleColor"
    ></header-flex>
    <!-- form -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="mx-auto">
      <div class="form-group">
        <label
          for="email"
          class="form-label fw-semibold text-start d-block mb-2"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Please enter your email"
          required
          formControlName="email"
        />
        <!-- lỗi email -->
        <div class="error-message" *ngIf="isFieldInvalid('email')">
          {{ getErrorMessage("email") }}
        </div>
      </div>

      <div class="form-group">
        <label
          for="mobile"
          class="form-label fw-semibold text-start d-block mb-2"
          >Mobile</label
        >
        <input
          type="tel"
          id="mobile"
          name="mobile"
          class="form-control"
          placeholder="Enter mobile"
          required
          formControlName="mobile"
        />
        <!-- lỗi sđt -->
        <div class="error-message" *ngIf="isFieldInvalid('mobile')">
          {{ getErrorMessage("mobile") }}
        </div>
      </div>

      <div class="form-group">
        <label
          for="message"
          class="form-label fw-semibold text-start d-block mb-2"
          >Message</label
        >
        <textarea
          id="message"
          name="message"
          class="form-control"
          rows="5"
          placeholder="Enter your message"
          required
          formControlName="message"
        ></textarea>
        <div class="error-message" *ngIf="isFieldInvalid('message')">
          {{ getErrorMessage("message") }}
        </div>
        <!-- đếm ký tự -->
        <div class="character-count">{{ characterCount() }}/1000 ký tự</div>
      </div>

      <button type="submit" appButton [buttonType]="'btn-submit'">
        Submit &gt;
      </button>
    </form>
  </div>
</section>
