<!-- Recent Work -->
<section id="recent-work" class="recent-work">
  <div class="container text-center">
    <h2 id="recent-work-heading">Recent Work</h2>
    <p class="description mx-auto">
      Solving user & business problems since last 15+ years.<br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <!-- Swiper -->
    <div class="swiper recent-work-swiper">
      <div class="swiper-wrapper">
        <article class="swiper-slide work-item">
          <a href="#" target="_blank" title="Work 1">
            <img src="assets/img/work_one.jpg" alt="Work 1" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>

        <article class="swiper-slide work-item">
          <a href="#" target="_blank" title="Work 2">
            <img src="assets/img/work_two.jpg" alt="Work 2" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>

        <article class="swiper-slide work-item">
          <a href="#" target="_blank" title="Work 3">
            <img src="assets/img/work_three.png" alt="Work 3" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>

        <article class="swiper-slide work-item">
          <a href="#" target="_blank" title="Work 4">
            <img src="assets/img/work_four.png" alt="Work 4" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
        <article class="swiper-slide work-item">
          <a href="#" target="_blank" title="Work 5">
            <img src="assets/img/work_five.png" alt="Work 5" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
        <article class="swiper-slide work-item">
          <a href="#" target="_blank" title="Work 6">
            <img src="assets/img/work_six.png" alt="Work 6" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
      </div>

      <!-- Navigation buttons -->
      <div class="swiper-button-prev" aria-label="Previous slide"></div>
      <div class="swiper-button-next" aria-label="Next slide"></div>
    </div>
  </div>
</section>
