<!-- Recent Work -->
<section id="recent-work" class="recent-work">
  <div class="container text-center">
    <h2 id="recent-work-heading">Recent Work</h2>
    <p class="description mx-auto">
      Solving user & business problems since last 15+ years.<br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <!-- Swiper -->

    <swiper-container
      class="recent-work-swiper"
      slides-per-view="2"
      slides-per-group="2"
      space-between="30"
      loop="true"
      navigation="false"
      pagination='{"clickable": true}'
      autoplay='{"delay": 2000, "disableOnInteraction": false}'
      breakpoints='{"0": {"slidesPerView": 1, "slidesPerGroup": 1}, "768": {"slidesPerView": 2, "slidesPerGroup": 2}}'
    >
      <swiper-slide>
        <article class="work-item">
          <a href="#" target="_blank" title="Work 1">
            <img src="assets/img/work_one.jpg" alt="Work 1" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
      </swiper-slide>

      <swiper-slide>
        <article class="work-item">
          <a href="#" target="_blank" title="Work 2">
            <img src="assets/img/work_two.jpg" alt="Work 2" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
      </swiper-slide>

      <swiper-slide>
        <article class="work-item">
          <a href="#" target="_blank" title="Work 3">
            <img src="assets/img/work_three.png" alt="Work 3" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
      </swiper-slide>

      <swiper-slide>
        <article class="work-item">
          <a href="#" target="_blank" title="Work 4">
            <img src="assets/img/work_four.png" alt="Work 4" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
      </swiper-slide>

      <swiper-slide>
        <article class="work-item">
          <a href="#" target="_blank" title="Work 5">
            <img src="assets/img/work_five.png" alt="Work 5" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
      </swiper-slide>

      <swiper-slide>
        <article class="swiper-slide work-item">
          <a href="#" target="_blank" title="Work 6">
            <img src="assets/img/work_six.png" alt="Work 6" class="rounded" />
          </a>
          <h3>Work name here</h3>
          <p>
            Rempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
            tempor incididunt ut.
          </p>
          <button class="btn btn-success btn-know-more" type="button">
            Know more &gt;
          </button>
        </article>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
