<!-- Testimonials -->
<section id="testimonials" class="testimonials">
  <div class="container text-center">
    <h2>Testimonials</h2>
    <p class="description mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <div class="row justify-content-center div-testimonial">
      <!-- Testimonial 1 -->
      <div
        class="col-md-5 testimonial-item position-relative text-start d-flex flex-column"
      >
        <span class="quote-mark">
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.4 0L4.7 10.6H7.1V20.9H0.4V10.6L2.9 0H6.4ZM18.5 0L16.8 10.6H19.2V20.9H12.5V10.6L15 0H18.5Z"
              fill="white"
            />
          </svg>
        </span>
        <p class="testimonial-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="d-flex align-items-center mt-auto">
          <img
            src="assets/img/avt_one.png"
            alt="Client 1"
            class="rounded-circle me-3 testimonial-avatar"
          />
          <h6>Client Name</h6>
        </div>
      </div>

      <!-- Testimonial 2 -->
      <div
        class="col-md-5 testimonial-item position-relative text-start d-flex flex-column"
      >
        <span class="quote-mark">
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.4 0L4.7 10.6H7.1V20.9H0.4V10.6L2.9 0H6.4ZM18.5 0L16.8 10.6H19.2V20.9H12.5V10.6L15 0H18.5Z"
              fill="white"
            />
          </svg>
        </span>
        <p class="testimonial-text">
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
        <div class="d-flex align-items-center mt-auto">
          <img
            src="assets/img/avt_two.png"
            alt="Client 2"
            class="rounded-circle me-3 testimonial-avatar"
          />
          <h6>Client Name</h6>
        </div>
      </div>

      <!-- Testimonial 3 -->
      <div
        class="col-md-5 testimonial-item position-relative text-start d-flex flex-column"
      >
        <span class="quote-mark">
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.4 0L4.7 10.6H7.1V20.9H0.4V10.6L2.9 0H6.4ZM18.5 0L16.8 10.6H19.2V20.9H12.5V10.6L15 0H18.5Z"
              fill="white"
            />
          </svg>
        </span>
        <p class="testimonial-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="d-flex align-items-center mt-auto">
          <img
            src="assets/img/avt_three.png"
            alt="Client 3"
            class="rounded-circle me-3 testimonial-avatar"
          />
          <h6>Client Name</h6>
        </div>
      </div>

      <!-- Testimonial 4 -->
      <div
        class="col-md-5 testimonial-item position-relative text-start d-flex flex-column"
      >
        <span class="quote-mark">
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.4 0L4.7 10.6H7.1V20.9H0.4V10.6L2.9 0H6.4ZM18.5 0L16.8 10.6H19.2V20.9H12.5V10.6L15 0H18.5Z"
              fill="white"
            />
          </svg>
        </span>
        <p class="testimonial-text">
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
        <div class="d-flex align-items-center mt-auto">
          <img
            src="assets/img/avt_four.png"
            alt="Client 4"
            class="rounded-circle me-3 testimonial-avatar"
          />
          <h6>Client Name</h6>
        </div>
      </div>
    </div>
  </div>
</section>
