// Variables
$primary-color: #3bb33b;
$btn-shadow-color: rgba(59, 179, 59, 0.7);
$text-muted: #9C9C9C;
$bg-dark: #080808;
$btn-font-weight: 600;
$font-style: IBM Plex Mono, monospace;
$font-style-heading: Raleway, sans-serif;
$text-form: #757575;
$font-weight-big: 800;
$font-weight-small: 400;
$bgc-green: #3F8E00;
$boder-green: #62BA1B;
$bgc-header: #1B1B1B;
$breakpoint-small: 575.98px;
$breakpoint-medium: 767.98px;
$breakpoint-large: 991.98px;
$breakpoint-xlarge: 1199.98px;
$breakpoint-xxlarge: 1399.98px;