<!-- Case Studies -->
<section id="case-studies" class="case-studies">
  <div class="container p-0">
    <div class="text-center">
      <h2>Case Studies</h2>
      <p class="mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
    </div>

    <article
      class="case-item row justify-content-center align-items-center specical"
    >
      <div class="col-lg-5 order-lg-2 divimg">
        <a href="#" target="_blank" title="Case Study 1">
          <img src="assets/img/a_two.png" alt="Case Study 1" class="rounded" />
        </a>
      </div>
      <div class="col-lg-5 order-lg-1 p-0">
        <div class="divwork1">
          <span class="badge badge-fintech">Fintech</span>
          <h4>Work name here</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <button class="btn-warning btn-case-study" type="button">
            View case study
            <svg
              width="6"
              height="11"
              viewBox="0 0 6 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.63335 4.87364L1.51379 0.759206C1.16776 0.413598 0.605566 0.413598 0.259528 0.759206C-0.0865095 1.10481 -0.0865095 1.66631 0.259528 2.01191L3.75196 5.5L0.259528 8.9881C-0.0865095 9.3337 -0.0865095 9.8952 0.259528 10.2408C0.432545 10.4136 0.65957 10.5 0.886652 10.5C1.11373 10.5 1.34078 10.4136 1.51378 10.2408L5.63333 6.12637C5.97937 5.78076 5.97937 5.21927 5.63333 4.87366L5.63335 4.87364Z"
                fill="white"
              />
            </svg>
          </button>
        </div>
      </div>
    </article>

    <article class="case-item row justify-content-center align-items-center">
      <div class="col-lg-5 divimg">
        <a href="#" target="_blank" title="Case Study 2">
          <img
            src="assets/img/a_three.png"
            alt="Case Study 2"
            class="rounded"
          />
        </a>
      </div>
      <div class="col-lg-5 order-lg-1 p-0">
        <div class="divwork2">
          <span class="badge badge-edtech">EdTech</span>
          <h4>Work name here</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <button class="btn-primary btn-case-study" type="button">
            View case study
            <svg
              width="6"
              height="11"
              viewBox="0 0 6 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.63335 4.87364L1.51379 0.759206C1.16776 0.413598 0.605566 0.413598 0.259528 0.759206C-0.0865095 1.10481 -0.0865095 1.66631 0.259528 2.01191L3.75196 5.5L0.259528 8.9881C-0.0865095 9.3337 -0.0865095 9.8952 0.259528 10.2408C0.432545 10.4136 0.65957 10.5 0.886652 10.5C1.11373 10.5 1.34078 10.4136 1.51378 10.2408L5.63333 6.12637C5.97937 5.78076 5.97937 5.21927 5.63333 4.87366L5.63335 4.87364Z"
                fill="white"
              />
            </svg>
          </button>
        </div>
      </div>
    </article>

    <article
      class="case-item row justify-content-center align-items-center specical"
    >
      <div class="col-lg-5 order-lg-2 divimg">
        <a href="#" target="_blank" title="Case Study 2">
          <img src="assets/img/a_four.png" alt="Case Study 3" class="rounded" />
        </a>
      </div>
      <div class="col-lg-5 order-lg-1 p-0">
        <div class="divwork1">
          <span class="badge badge-pharma">Pharma</span>
          <h4>Work name here</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <button class="btn-info btn-case-study" type="button">
            View case study
            <svg
              width="6"
              height="11"
              viewBox="0 0 6 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.63335 4.87364L1.51379 0.759206C1.16776 0.413598 0.605566 0.413598 0.259528 0.759206C-0.0865095 1.10481 -0.0865095 1.66631 0.259528 2.01191L3.75196 5.5L0.259528 8.9881C-0.0865095 9.3337 -0.0865095 9.8952 0.259528 10.2408C0.432545 10.4136 0.65957 10.5 0.886652 10.5C1.11373 10.5 1.34078 10.4136 1.51378 10.2408L5.63333 6.12637C5.97937 5.78076 5.97937 5.21927 5.63333 4.87366L5.63335 4.87364Z"
                fill="white"
              />
            </svg>
          </button>
        </div>
      </div>
    </article>
  </div>
</section>
